/* 
    This file is auto generated,don't modfiy it.
    See https://github.com/easyflag/FSMGenerator
*/

#pragma once

#include "FSMBase.h"

class {{ fsm.name }}FSMDef : public FSMBase
{
    Q_OBJECT

public:
    enum EventId {
        {% for event in fsm.events %}
        {{ event.name | upper }} = {{ event.id }}{% if not loop.last %},{% endif %}
        
        {% endfor %}
    };
    Q_ENUM(EventId)

    enum StateId {
        {% for state in fsm.states %}
        {{ state.name | upper }} = {{ state.id }}{% if not loop.last %},{% endif %}
        
        {% endfor %}
    };
    Q_ENUM(StateId)

    {{ fsm.name }}FSMDef(QObject *parent = nullptr)
        : FSMBase(parent)
    {
        _fsmName = "{{ fsm.name }}FSM";

        {% for state in fsm.states %}
        _init_{{ state.name | upper }}();
        {% endfor %}     
        _currentStateId = {{ fsm.first_state | upper }};

        postEvent({{ fsm.auto_transit_event | upper }});
    }

protected:
    QString _eventIdString(int id) override
    {
        QMetaEnum e = QMetaEnum::fromType<EventId>();
        return e.valueToKey(id);
    }
    QString _stateIdString(int id) override
    {
        QMetaEnum e = QMetaEnum::fromType<StateId>();
        return e.valueToKey(id);
    }

protected:
    {% for state in fsm.states %}
    {% if state.entry_action %}
    /// need implement: {{ state.entry_action.describe if state.entry_action.describe is defined else 'None' }}
    virtual void {{ state.name | upper }}_OnEnter() = 0;

    {% endif %}
    {% if state.exit_action %}
    /// need implement: {{ state.exit_action.describe if state.exit_action.describe is defined else 'None' }}
    virtual void {{ state.name | upper }}_OnExit() = 0;

    {% endif %}
    {% for action in state.event_actions %}
    /// need implement: {{ action.describe if action.describe is defined else 'None' }}
    virtual void {{ state.name | upper }}_OnEvent_{{ action.event | upper }}() = 0;

    {% endfor %}
    {% if not loop.last %}

    {% endif %}
    {% endfor %}
private:
    {% for state in fsm.states %}
    void _init_{{ state.name | upper }}()
    {
        FSMNode node;
        node.stateId = {{ state.name | upper }};
        {% if state.entry_action %}
        node.entryAction = std::bind(&{{ fsm.name }}FSMDef::{{ state.name | upper }}_OnEnter, this);
        {% else %}
        node.entryAction = nullptr;
        {% endif %}
        {% if state.exit_action %}
        node.exitAction = std::bind(&{{ fsm.name }}FSMDef::{{ state.name | upper }}_OnExit, this);
        {% else %}
        node.exitAction = nullptr;
        {% endif %}
        {% for action in state.event_actions %}
        node.eventActions[{{ action.event | upper }}] = std::bind(&{{ fsm.name }}FSMDef::{{ state.name | upper }}_OnEvent_{{ action.event | upper }}, this);
        {% endfor %}
        {% for transition in state.transitions %}
        node.transitions[{{ transition.event | upper }}] = {{ transition.next_state | upper }};
        {% endfor %}
        _fsmNodes[{{ state.name | upper }}] = node;
    }
    {% if not loop.last %}

    {% endif %}
    {% endfor %}
};

